body {
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: var(--nav-bg);
}

.card {
    background-color: var(--card-bg);
    color: var(--text-color);
}

.hero {
    /* background: image('background.jpg') no-repeat center center/cover; */
    background-color: var(--bg-color);
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
} 

.footer {
    background: var(--nav-bg);
    color: var(--text-color);
    text-align: center;
    padding: 20px 0;
   
}

/* Light Theme */
:root {
    --bg-color: #f9e5e5;
    --text-color: #1f1d1d;
    --nav-bg: #6a6969;
    --card-bg: #fff;
    --t-bg: #717171;
}

/* Dark Theme */
[data-theme="dark"] {
    --bg-color: #1a1a1a;
    --text-color: #fff;
    --nav-bg: #2d2d2d;
    --card-bg: #222;
    --t-bg: #717171;
}

.login-container {
    max-width: 400px;
    margin: auto;
    margin-top: 80px;
    background-color: var(--nav-bg);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-card {
    transition: transform 0.2s;
    border-radius: 10px;
    overflow: hidden;
}

.book-card:hover {
    transform: scale(1.05);
}

.book-card img {
    height: 300px;
    object-fit: cover;
}

.book-card .card-body {
    text-align: center;
    
}

.card-image-top {
    /* width: 100%; 
    height: 50%; 
    max-width: 200px;  
    max-height: 300px;
     object-fit: cover;       /* Ensure the image covers the area of the container while keeping the aspect ratio */
    /* border-radius: 8px;  /* Optional: Add rounded corners */
}
html {
    scroll-behavior: smooth;
}

.reading-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.page-button {
    margin: 5px;
}
.modal-body {
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-y: auto !important;
    max-height: 70vh; 

}

.modal-content {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.modal-header, .modal-footer {
    background-color: var(--bg-color);
}

/* .sidebar {
    height: 100vh;
    position: fixed;
    width: 220px;
    background-color: #343a40;
}

.sidebar .nav-link {
    color: white;
}

.sidebar .nav-link.active {
    background-color: #495057;
}

.content {
    margin-left: 220px;
    padding: 2rem;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
} */
